/* Style the user card container */
.user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Khand", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  
.user-profile h1 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    
  }
  
.user-profile p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
    
  }

.review-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Khand", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.review-container h1{
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

.review-container p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
  }

  .user-edit-profile-input{
    display: block;
    width: 400px; 
    height: 40px; 
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-family: "Khand", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .edit-form-btn{
    font-family: "Khand", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .edit-button{
    font-family: "Khand", sans-serif;
    font-weight: 500;
    font-style: normal;
  }