.direction-btn {
    background-color: #8f4431;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px; 
    margin: 10px;
    border-radius: 5px; 
    text-transform: uppercase; 
    transition: background-color 0.3s ease; 
    font-family: "Khand", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .direction-btn:hover {
    background-color: #6a3324; 
  }
  
  .direction-btn:disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
  }
  
  .direction-btn-container {
    display: flex;
    justify-content: center;
    
    
  }
  
  .cafe-list {
    flex: 1 0 auto;
    font-family: "Khand", sans-serif;
    font-weight: 400;
    font-style: normal;
  }